{% extends "base.html" %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center shadow">
    <div class="container-fluid">

      <div class="row justify-content-center text-center">
        <div class="col-xl-6 col-lg-8">
          <h1>Anam Cara<span>.</span></h1>
          <h2>We are here to help you find you hearts whispers</h2>
        </div>
      </div>

    </div>
  </section>
  <!-- End Hero -->
  <!-- ======= Links Section ======= -->
  <section id="links" class="links d-flex align-items-center justify-content-center shadow-lg">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box rounded">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box rounded">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Sed ut perspiciatis</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box rounded">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Magni Dolores</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End Links -->
  <!-- ======= Quotes Section ======= -->
  <section id="quotes" class="quotes d-flex align-items-center justify-content-center">
    <div class="container">

      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-8 mb-5">
        <div class="card rounded shadow">
          <div class="card-header">
            Quote
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-3">
              <p>A well-known quote, contained in a blockquote element.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>
        </div>
        </div>
        <div class="col-lg-8">
          <div class="card rounded">
            <div class="card-header">
              Quote
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-3">
                <p>A well-known quote, contained in a blockquote element.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
              </blockquote>
            </div>
          </div>
          </div>
      </div>
    </div>
  </section>
  <!-- End Quotes -->
  <!-- ======= Recap Section ======= -->
<section id="recap" class="d-flex align-items-center justify-content-center shadow">
  <div class="container-fluid">

    <div class="row justify-content-center text-center">
      <div class="col-xl-6 col-lg-8">
        <h1>Anam Cara<span>.</span></h1>
        <h2>We are here to help you find you hearts whispers</h2>
      </div>
    </div>

  </div>
</section>
<!-- Recap Hero -->


{% endblock %}