{% extends "base.html" %}
{% block content %}

<h3 class="text-muted">Add Note</h3>

<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <form method="POST" action="{{ url_for('add_note') }}">
        <div class="row mb-3">
          <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input name="inputName3" type="name" class="form-control" id="inputName3" required>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputDate3" class="col-sm-2 col-form-label">Date</label>
          <div class="col-sm-10">
            <input name="inputDate3" type="date" class="form-control" id="inputDate3" required>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputLocation3" class="col-sm-2 col-form-label">Location</label>
          <div class="col-sm-10">
            <select id="inputLocation3" name="inputLocation3" class="form-select" aria-label="Default select example" required>
              <option selected>Select Continent</option>
              <option value="Africa">Africa</option>
              <option value="Antarctica">Antarctica</option>
              <option value="Asia">Asia</option>
              <option value="Europe">Europe</option>
              <option value="North America">North America</option>
              <option value="Australasia">Australasia</option>
              <option value="South America">South America</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputTitle3" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input name="inputTitle3" type="text" class="form-control" id="inputTitle3" required>
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputMessage3" class="col-sm-2 col-form-label">Message</label>
          <div class="col-sm-10">
            <textarea name="inputMessage3" type="text" class="form-control" id="inputMessage3" rows="3" required></textarea>
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputTitle3" class="col-sm-2 col-form-label">Connect</label>
          <div class="col-sm-10">
            <input name="inputConnect3" type="text" class="form-control" id="inputConnect3" required>
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputPublish3" class="col-sm-2 col-form-label">Publish</label>
            <div class="col-sm-10">
              <input name="inputPublish3" type="date" class="form-control" id="inputPublish3" required>
            </div>
          </div>
      <a href="#" class="btn btn-primary">Send your hearts whisper</a>
    </div>
    <div class="card-footer text-body-secondary">
      2 days ago
    </div>
  </div>

{% endblock %}