{% extends "base.html" %}
{% block content %}

<h3 class="text-muted">Add Note</h3>

<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <form>
        <div class="row mb-3">
          <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="name" class="form-control" id="inputName3">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputDate3" class="col-sm-2 col-form-label">Date</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="inputDate3">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputLocation3" class="col-sm-2 col-form-label">Location</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Continent</option>
              <option value="Africa">Africa</option>
              <option value="Antarctica">Antarctica</option>
              <option value="Asia">Asia</option>
              <option value="Europe">Europe</option>
              <option value="North America">North America</option>
              <option value="Australasia">Australasia</option>
              <option value="South America">South America</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputTitle3" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTitle3">
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputTitle3" class="col-sm-2 col-form-label">Message</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputTitle3" class="col-sm-2 col-form-label">Connect</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputConnect3">
          </div>
        </div>
        <div class="row mb-3">
            <label for="inputPublish3" class="col-sm-2 col-form-label">Publish</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="inputPublish3">
            </div>
          </div>
      <a href="#" class="btn btn-primary">Send your hearts whisper</a>
    </div>
    <div class="card-footer text-body-secondary">
      2 days ago
    </div>
  </div>

{% endblock %}