{% extends "base.html" %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center shadow">
    <div class="container-fluid">

      <div class="row justify-content-center text-center">
        <div class="col-xl-6 col-lg-8">
          <h1>Anam Cara<span>.</span></h1>
          <h2>We are here to help you find you hearts whispers</h2>
        </div>
      </div>

    </div>
  </section>
  <!-- End Hero -->
  <!-- ======= Links Section ======= -->
  

  <!-- End Links -->


{% endblock %}