{% extends "base.html" %}
{% block content %}

<h3 class="text-muted">Notes</h3>
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-6">
      <div class="card text-center mb-5 shadow">
        <div class="card-header">
          We invite you to 
        </div>
        <div class="card-body">
          <h5 class="card-title">Discover Soulful Connections</h5>
          <p class="card-text">Read through but If you havent shared your the whispers in your heart do so now</p>
          <a href="{{ url_for('add_note') }}" class="btn btn-primary">Express your heart</a>
        </div>
        <div class="card-footer text-body-secondary">
          Anam Cara
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-10">
      <div class="card mt-5 mb-3 shadow">
        <h5 class="card-header">Title</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name</li>
          <li class="list-group-item">Location</li>
          <li class="list-group-item">Date</li>
        </ul>
        <div class="card-body">
        <p class="card-text">Amidst the chaos of life's storms, I find solace in your presence. 
          Your gentle words and warm embrace are the anchors that steady my restless heart. 
          Together, we navigate the ebbs and flows, sharing laughter, tears, and dreams. 
          In your eyes, I see a reflection of my true self, accepted and cherished without judgment. 
          You are my guiding light, my sanctuary of love. Let our souls dance in this sacred connection, 
          as we journey through life, hand in hand, whispering secrets of the heart.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Connect</li>
      </ul>
      <div class="card-body d-flex justify-content-between">
        <div>
        <a href="#" class="btn btn-primary">Update</a>
        </div>
        <div></div>
        <a href="#" class="card-link"><i class="fa-regular fa-trash-can fa-xl"></i></a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>  


{% endblock %}