{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-6">
      <div class="card text-center mb-5 shadow">
        <div class="card-header">
          We invite you to 
        </div>
        <div class="card-body">
          <h5 class="card-title">Discover Soulful Connections</h5>
          <p class="card-text">Read through but If you havent shared your the whispers in your heart do so now</p>
          <a href="{{ url_for('add_note') }}" class="btn btn-primary">Express your heart</a>
        </div>
        <div class="card-footer text-body-secondary">
          Anam Cara
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    {% for note in notes %}
    <div class="col-10">
      <div class="card mt-5 mb-3 shadow">
        <h5 class="card-header">{{ note.note_title }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ note.note_name }}</li>
          <li class="list-group-item">{{ note.submission_date }}</li>
          <li class="list-group-item">{{ note.note_location }}</li>
        </ul>
        <div class="card-body">
        <p class="card-text">{{ note.note_message }}</p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ note.note_connect }}</li>
          </ul>
        <div class="card-body d-flex justify-content-between">
          <div>
            <a href="{{ url_for('edit_note', note_id=note.id) }}" class="btn btn-outline-dark">Update</a>
          </div>
          <div>
            <a href="{{ url_for('delete_note', note_id=note.id) }}" class="card-link"><i class="fa-regular fa-trash-can fa-xl"></i></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>  


{% endblock %}