
 /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    z-index: 997;
    padding: 0;
    background: rgba(9, 13, 7, 0.8);
  }

 /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
.logo {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #ADAA99;
}

.nav-item a {
    margin-right: 15px;
    color: #ADAA99;
}

.navbar-toggler {
    background-color: rgba(173, 170, 153, 0.6);
}
/*--------------------------------------------------------------
#  Login Button
--------------------------------------------------------------*/
.login-btn {
    color: #fff;
    border-radius: 4px;
    padding: 7px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #D1D1D1;
  }
  
  .login-btn:hover {
    background: #D1D1D1;
    color: #343a40;
  }
  
  @media (max-width: 992px) {
    .login-btn {
      padding: 7px 20px 8px 20px;
      margin-right: 15px;
    }
  }
  
  /*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
  .main {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  footer {
    background: rgba(9, 13, 7, 0.8);
    color: #ADAA99;
  }

